.Field {
    width: 20px;
    height: 20px;
    background-color: black;
    border-left: solid 1px white;
    border-top: solid 1px white;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 100ms linear;
}

.Field.opened {
    color: black;
    background-color: white;
}

.Field.mark {
    background-color: green;
}

.Field.opened.mine {
    background-color: red;
}